body {
  color: #FFF;
  background-color: #141218;
}

.navbar {
  background-color: yellow;
}














/*--- Navigation Header
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #B9090B;
  border-color: #210000;
}


.nav-bar > li {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1em 1.5em;
  text-decoration: none;
}

.nav-bar > li:hover {
  background-color: #2c3e50;
  cursor: pointer;
}

---*/




/*--- Hidden Class ---*/
.hidden {
  display: none;
}
